POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_DATABASE=saltivka
POSTGRES_PORT=5432
POSTGRES_POOL=5

REDIS_URL=redis://localhost:6379

# Puma
RAILS_MAX_THREADS=5
RAILS_MIN_THREADS=5
PORT=3000
PIDFILE=tmp/pids/server.pid
WEB_CONCURRENCY=0

# Rails
RAILS_ENV=production # development or test
RAILS_SERVE_STATIC_FILES=
RAILS_LOG_TO_STDOUT=
RAILS_LOG_LEVEL=
ACTIVE_RECORD_SLOW_QUERIES_THRESHOLD=
ACTIVE_RECORD_LOG_SLOW_QUERIES=
SECRET_KEY_BASE=

SENTRY_DSN=

NEW_RELIC_LICENSE_KEY=
NEW_RELIC_APP_NAME=
NEW_RELIC_LOG_LEVEL=

# Tests
CI=

# Relay
HEARBEAT_INTERVAL=1200 # How long connections may idle?
DEFAULT_ERRORS_FORMAT=TEXT
AUTHORIZATION_TIMEOUT=10
FORCED_MIN_AUTH_LEVEL=0
REQUIRED_AUTH_LEVEL_FOR_REQ=0
REQUIRED_AUTH_LEVEL_FOR_EVENT=0
REQUIRED_AUTH_LEVEL_FOR_COUNT=0
MAILER_DEFAULT_FROM=admin@nostr.localhost
DEFAULT_FILTER_LIMIT=100
VALIDATE_ID_ON_SERVER=true
VALIDATE_SIG_ON_SERVER=true
NIP_1_12_AVAILABLE_FILTERS=kinds ids authors #e #p since until #a #b #c #d #f #g #h #i #j #k #l #m #n #o #q #r #s #t #u #v #w #x #y #z #A #B #C #D #E #F #G #H #I #J #K #L #M #N #O #P #Q #R #S #T #U #V #W #X #Y #Z
NIP_04_NIP_42_ENFORCE_KIND_4_AUTHENTICATION=true
NIP_11_MAX_FILTER_LIMIT=1000
NIP_11_RELAY_NAME=
NIP_11_DESCRIPTION=
NIP_11_PUBKEY=
NIP_11_CONTACT=
NIP_11_RELAY_COUNTRIES=UK UA US
NIP_11_LANGUAGE_TAGS=en en-419
NIP_11_TAGS=
NIP_11_POSTING_POLICY=
NIP_11_MAX_SUBSCRIPTIONS=20
NIP_11_MAX_FILTERS=100
NIP_11_MIN_PREFIX=4
NIP_11_MAX_EVENT_TAGS=100
NIP_11_MAX_CONTENT_LENGTH=8196
NIP_11_MAX_MESSAGE_LENGTH=16384
NIP_12_MAX_SEARCHABLE_TAG_VALUE_LENGTH=1000
NIP_13_MIN_POW=0
NIP_22_CREATED_AT_IN_PAST=31556952 # 1 year
NIP_22_CREATED_AT_IN_FUTURE=7889238 # 3 months
NIP_42_RESTRICT_CHANGE_AUTH_PUBKEY=false
NIP_42_CHALLENGE_WINDOW_SECONDS=600
NIP_43_FAST_AUTH_WINDOW_SECONDS=80
NIP_42_43_SELF_URL=ws://localhost:3000
NIP_65_KINDS_EXEMPT_OF_AUTH=10002

# Rate Limiting
RATE_LIMITING_MAX_REQUESTS=300
RATE_LIMITING_SLIDING_WINDOW=60

# Payments
DEFAULT_INVOICE_AMOUNT=6000
DEFAULT_INVOICE_PERIOD=30
PRICE_PER_DAY=200
PROVIDER_API_KEY_OPEN_NODE=

# Email delivery
SMTP_ADDRESS=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
DEFAULT_MAILER_HOST=

# Docker image specific
RUBY_YJIT_ENABLE=true

# Setup
ADMIN_EMAIL=
ADMIN_PASSWORD=
TRUSTED_PUBKEYS=
