<% @layout_container_class = 'is-fluid' %>

<div class="content">
  <h1 class="title is-1">Connections</h1>
  <% if @connections.present? %>
    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Connection</th>
            <th>Subscriptions</th>
            <th>Traffic</th>
            <th>Active for</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "connection", collection: @connections, as: :connection %>
        </tbody>
      </table>
    </div>
  <% end %>

</div>