<div class="content">
  <h1>Connections</h1>
  <% if @connections.present? %>
    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Connection ID</th>
            <th>Authorization level</th>
            <th>Pubkey</th>
            <th>Auth Event ID (22242)</th>
            <th>Subscriptions</th>
            <th>Requests #</th>
            <th>Traffic, bytes</th>
            <th>IP</th>
            <th>Active for</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "connection", collection: @connections, as: :connection %>
        </tbody>
      </table>
    </div>
  <% end %>

</div>