<div class="content">

  <h1>Welcome to Saltivka!</h1>

  <div class="has-text-centered mt-6 mb-6"><%= image_tag("/assets/saltivka.jpeg") %></div>

  <p><a href="https://github.com/nostr-protocol/nostr">Nostr</a> is a protocol that aims to improve internet communications.
  Its goal is to give users the ability to store their data on different servers, including ones they can operate themselves.
  They can then use different clients to access and interpret this data in various ways.</p>

  <p>For example, if someone creates text content on Twitter and multimedia content on Instagram and decides to switch to Nostr,
  their followers can view the photos on Nostrogram and the articles on Nitter (once those clients are developed),
  while still following the same address, account, or "npub" in Nostr terminology.</p>

  <p>Users generate data, servers determine how to store and transmit it, and clients decide what to display.
  By employing modern cryptography, creators can be easily verified, ensuring the authenticity of the content.
  With no single controlling entity, it becomes impossible to cancel speech.
  Since only authors have access to their own content, that's not the case everything could be lost due to a ban or a mistake.</p>

  <p>The simplicity of this idea is what makes it great and inspiring.
  However, it is the details that are most crucial.
  There are numerous challenges that need to be addressed in order to make decentralized media mainstream.</p>

  <p>This project aims to provide an best-in-class experience for the server component, enabling client developers and server operators to enjoy their respective roles.
  Use <b>wss://saltivka.org</b> as your relay.
  Visit the project's <a href="https://github.com/viktorvsk/saltivka/">Github</a> for more information.</p>
</div>
